body {
    font-family: Georgia;
}

#main-header {
    font-family: Times;
    color: darkgreen;
}

h3 {
    color: darkgreen;
}

#pgp {
    color: darkorange;
}

#atlandis {
    color: goldenrod;
}

#linx {
    size-adjust: 40%;
}